spring-boot-soap-ws-client/src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.example.com/soap/ws/loanEligibility"
    targetNamespace="http://www.example.com/soap/ws/loanEligibility">

    <!-- TYPES -->
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.example.com/soap/ws/loanEligibility"
            elementFormDefault="qualified">

            <!-- Request -->
            <xsd:element name="CustomerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="age" type="xsd:int"/>
                        <xsd:element name="yearlyIncome" type="xsd:long"/>
                        <xsd:element name="cibilScore" type="xsd:int"/>
                        <xsd:element name="employmentMode" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Response -->
            <xsd:element name="Acknowledgement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isEligible" type="xsd:boolean"/>
                        <xsd:element name="approvedAmount" type="xsd:long"/>
                        <xsd:element name="CriteriaMismatch" type="xsd:string" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <!-- MESSAGES -->
    <wsdl:message name="CustomerRequestMessage">
        <wsdl:part name="parameters" element="tns:CustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="AcknowledgementMessage">
        <wsdl:part name="parameters" element="tns:Acknowledgement"/>
    </wsdl:message>

    <!-- PORT TYPE (Interface) -->
    <wsdl:portType name="LoanEligibilityIndicator">
        <wsdl:operation name="CustomerCheck">
            <wsdl:input message="tns:CustomerRequestMessage"/>
            <wsdl:output message="tns:AcknowledgementMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- BINDING -->
    <wsdl:binding name="LoanEligibilityIndicatorSoap11" type="tns:LoanEligibilityIndicator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CustomerCheck">
            <soap:operation soapAction="http://www.example.com/soap/ws/loanEligibility/CustomerCheck"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- SERVICE -->
    <wsdl:service name="LoanEligibilityIndicatorService">
        <wsdl:port name="LoanEligibilityIndicatorSoap11" binding="tns:LoanEligibilityIndicatorSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
